Repository leonbartz/SUD-Rollins, pull requests merged in 2023-03, with the labels that each got.

#87 SUD-Bug_fixes
  leistungstraeger-app/src/main/java/backend/game/Game.java
  leistungstraeger-app/src/main/java/frontend/view/GameView.java
  leistungstraeger-app/src/main/java/helpers/charactergenerator/CharacterGenerator.java
  leistungstraeger-app/src/main/java/helpers/image/ImageController.java
Labels: bug

#90 SUD-37: Single Use Items aka Spells
  leistungstraeger-app/src/main/java/DesktopLauncher.java
  leistungstraeger-app/src/main/java/backend/abstract_object/Combatable.java
  leistungstraeger-app/src/main/java/backend/character/GameCharacter.java
  leistungstraeger-app/src/main/java/backend/game/Game.java
  leistungstraeger-app/src/main/java/backend/game/Turn.java
  leistungstraeger-app/src/main/java/backend/game_map/Door.java
  leistungstraeger-app/src/main/java/backend/game_map/room/Room.java
  leistungstraeger-app/src/main/java/backend/item/AbstractModifyingItem.java
  leistungstraeger-app/src/main/java/backend/item/ItemStash.java
  leistungstraeger-app/src/main/java/backend/item/ItemUtils.java
  leistungstraeger-app/src/main/java/backend/item/implementations/NoItem.java
  leistungstraeger-app/src/main/java/backend/item/implementations/Sword.java
  leistungstraeger-app/src/main/java/backend/item/modifier/ActiveEffectList.java
  leistungstraeger-app/src/main/java/backend/item/modifier/TimedModifier.java
  leistungstraeger-app/src/main/java/backend/item/usables/AbstractUsableItem.java
  leistungstraeger-app/src/main/java/backend/item/usables/Effect.java
  leistungstraeger-app/src/main/java/backend/item/usables/ItemActivationType.java
  leistungstraeger-app/src/main/java/backend/item/usables/implementations/Bomb.java
  leistungstraeger-app/src/main/java/backend/item/usables/implementations/HealingPotion.java
  leistungstraeger-app/src/main/java/backend/item/usables/implementations/Spell.java
  leistungstraeger-app/src/main/java/frontend/view/AbstractObjectView.java
  leistungstraeger-app/src/main/java/frontend/view/RoomView.java
  leistungstraeger-app/src/main/java/helpers/charactergenerator/CharacterGenerator.java
  leistungstraeger-app/src/main/java/helpers/command/ChangeRoomCommand.java
  leistungstraeger-app/src/main/java/helpers/command/EndTurnCommand.java
  leistungstraeger-app/src/main/java/helpers/command/MoveCommand.java
  leistungstraeger-app/src/main/java/helpers/image/ImageController.java
  leistungstraeger-app/src/test/java/backend/item/ItemStashTest.java
  leistungstraeger-app/src/test/java/backend/item/TestItem.java
Labels: backend

#38 SUD-8-Build_Character_Class
  leistungstraeger-app/src/main/java/backend/abstract_object/Combatable.java
  leistungstraeger-app/src/main/java/backend/character/GameCharacter.java
  leistungstraeger-app/src/main/java/backend/character/classes/CharacterClass.java
  leistungstraeger-app/src/main/java/backend/character/classes/Mage.java
  leistungstraeger-app/src/main/java/backend/character/classes/Thief.java
  leistungstraeger-app/src/main/java/backend/character/classes/Warrior.java
  leistungstraeger-app/src/main/java/backend/character/races/CharacterRace.java
  leistungstraeger-app/src/main/java/backend/character/races/Dwarf.java
  leistungstraeger-app/src/main/java/backend/character/races/Elf.java
  leistungstraeger-app/src/main/java/backend/character/races/Hobbit.java
  leistungstraeger-app/src/main/java/backend/character/races/Human.java
  leistungstraeger-app/src/main/java/backend/character/stats/Stats.java
  leistungstraeger-app/src/main/java/backend/item/modifier/ModifierIdentifier.java
  leistungstraeger-app/src/main/java/helpers/charactergenerator/CharacterGenerator.java
Labels: backend

#114 SUD-57: Distance Integration beim Bewegen
  leistungstraeger-app/src/main/java/backend/abstract_object/MovingAbstractObject.java
  leistungstraeger-app/src/main/java/backend/character/GameCharacter.java
  leistungstraeger-app/src/main/java/backend/game/Game.java
  leistungstraeger-app/src/main/java/helpers/charactergenerator/CharacterGenerator.java
  leistungstraeger-app/src/main/java/helpers/command/MoveCommand.java
  leistungstraeger-app/src/main/java/helpers/coordinate/Coordinate.java
Labels: backend

#116 WASD + E Implementation
  leistungstraeger-app/src/main/java/backend/abstract_object/Combatable.java
  leistungstraeger-app/src/main/java/backend/abstract_object/MovingAbstractObject.java
  leistungstraeger-app/src/main/java/backend/character/GameCharacter.java
  leistungstraeger-app/src/main/java/backend/game/Game.java
  leistungstraeger-app/src/main/java/backend/item/modifier/ActiveEffectList.java
  leistungstraeger-app/src/main/java/backend/item/modifier/ModifierIdentifier.java
  leistungstraeger-app/src/main/java/backend/item/usables/AbstractUsableItem.java
  leistungstraeger-app/src/main/java/backend/item/usables/Effect.java
  leistungstraeger-app/src/main/java/backend/item/usables/HasActiveEffectList.java
  leistungstraeger-app/src/main/java/backend/item/usables/implementations/Bomb.java
  leistungstraeger-app/src/main/java/backend/item/usables/implementations/DamagePotion.java
  leistungstraeger-app/src/main/java/backend/item/usables/implementations/HealingPotion.java
  leistungstraeger-app/src/main/java/backend/item/usables/implementations/Spell.java
  leistungstraeger-app/src/main/java/frontend/renderbehaviour/MapRenderBehaviour.java
  leistungstraeger-app/src/main/java/frontend/view/ViewManager.java
  leistungstraeger-app/src/main/java/helpers/charactergenerator/CharacterGenerator.java
  leistungstraeger-app/src/main/java/helpers/command/AttackCommand.java
Labels: frontend, backend, US13
